# Unit 5 - Financial Planning

In [1]:
# Initial imports
import requests

import os
import pandas as pd
import alpaca_trade_api as tradeapi

import datetime as dt

from dotenv import load_dotenv

from MCForecastTools import MCSimulation

%matplotlib inline

In [24]:
import warnings
warnings.filterwarnings("ignore")

In [25]:
# Load .env enviroment variables
load_dotenv()

True

## Part 1 - Personal Finance Planner

### Collect Crypto Prices Using the `requests` Library

In [26]:
# Set current amount of crypto assets
my_btc = 1.2
my_eth = 5.3

In [27]:
# Crypto API URLs
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=CAD"
eth_url = "https://api.alternative.me/v2/ticker/Ethereum/?convert=CAD"

In [28]:
# Fetch current BTC price
btc_data = requests.get(btc_url).json()
btc_price = btc_data['data']['1']['quotes']['USD']['price']

# Fetch current ETH price
eth_data = requests.get(eth_url).json()
eth_price = eth_data['data']['1027']['quotes']['USD']['price']

# Compute current value of my crpto
my_btc_value = my_btc * btc_price
my_eth_value = my_eth * eth_price

# Print current crypto wallet balance
print(f"The current value of your {my_btc} BTC is ${my_btc_value:0.2f}")
print(f"The current value of your {my_eth} ETH is ${my_eth_value:0.2f}")

The current value of your 1.2 BTC is $49245.60
The current value of your 5.3 ETH is $14674.48

In [29]:
print(btc_price)
print(eth_price)

41038.0
2768.77

### Collect Investments Data Using Alpaca: `SPY` (stocks) and `AGG` (bonds)

In [30]:
# Set current amount of shares
my_agg = 200
my_spy = 50

In [31]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [42]:
# Format current date as ISO format
start_date = pd.Timestamp("today", tz="America/Chicago").isoformat()

# Set the tickers
tickers = ["AGG", "SPY"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY and AGG
df_ticker = api.get_barset(
    tickers,
    timeframe,
    limit=1000 #limit=1000 parameter to call the most recent 1000 days of data
).df

# Preview DataFrame
df_ticker

                              AGG                                          \
                             open     high       low    close      volume
time
2018-03-27 00:00:00-04:00  106.63  106.950  106.6100  106.870   2608360.0
2018-03-28 00:00:00-04:00  107.05  107.100  106.8800  106.940   3810747.0
2018-03-29 00:00:00-04:00  106.95  107.260  106.9500  107.235   5600597.0
2018-04-02 00:00:00-04:00  106.90  107.040  106.8200  106.910   6661775.0
2018-04-03 00:00:00-04:00  106.82  106.870  106.7400  106.760   5871914.0
...                           ...      ...       ...      ...         ...
2022-03-10 00:00:00-05:00  108.66  108.680  108.2500  108.440  13628948.0
2022-03-11 00:00:00-05:00  108.44  108.550  108.3400  108.420  10648743.0
2022-03-14 00:00:00-04:00  107.78  107.816  107.3600  107.380   9445533.0
2022-03-15 00:00:00-04:00  107.84  107.920  107.4300  107.585  12548269.0
2022-03-16 00:00:00-04:00  107.63  107.730  107.0032  107.700  14556674.0

                              SPY
                             open    high     low   close       volume
time
2018-03-27 00:00:00-04:00     NaN     NaN     NaN     NaN          NaN
2018-03-28 00:00:00-04:00  260.75  262.64  258.58  259.84  105882176.0
2018-03-29 00:00:00-04:00  261.10  265.26  260.28  263.49   82896154.0
2018-04-02 00:00:00-04:00  262.56  263.13  254.67  257.53  126727740.0
2018-04-03 00:00:00-04:00  258.87  261.31  256.84  260.77   88849064.0
...                           ...     ...     ...     ...          ...
2022-03-10 00:00:00-05:00  422.52  426.43  420.44  425.49   82121704.0
2022-03-11 00:00:00-05:00  428.12  428.77  419.53  420.08   78641455.0
2022-03-14 00:00:00-04:00  420.89  424.55  415.79  417.03   84023951.0
2022-03-15 00:00:00-04:00  419.77  426.84  418.42  426.17   91514235.0
2022-03-16 00:00:00-04:00  429.89  435.68  424.80  435.63  122530142.0

[1001 rows x 10 columns]

In [59]:
# Pick AGG and SPY close prices
agg_close_price = df_ticker.iloc[-1]['AGG']['close']
spy_close_price = df_ticker.iloc[-1]['SPY']['close']

# Print AGG and SPY close prices
print(f"Current AGG closing price: ${agg_close_price:.3f}")
print(f"Current SPY closing price: ${spy_close_price:.3f}")

Current AGG closing price: $107.700
Current SPY closing price: $435.630

In [62]:
# Compute the current value of shares
my_agg_value = my_agg * agg_close_price
my_spy_value = my_spy * spy_close_price

# Print current value of shares
print(f"The current value of your {my_spy} SPY shares is ${my_spy_value:0,.2f}")
print(f"The current value of your {my_agg} AGG shares is ${my_agg_value:0,.2f}")

The current value of your 50 SPY shares is $21,781.50
The current value of your 200 AGG shares is $21,540.00

### Savings Health Analysis

In [ ]:
# Set monthly household income
monthly_income = 12000

# Consolidate financial assets data
# YOUR CODE HERE!

# Create savings DataFrame
# YOUR CODE HERE!

# Display savings DataFrame
display(df_savings)

In [ ]:
# Plot savings pie chart
# YOUR CODE HERE!

In [ ]:
# Set ideal emergency fund
emergency_fund = monthly_income * 3

# Calculate total amount of savings
# YOUR CODE HERE!

# Validate saving health
# YOUR CODE HERE!

## Part 2 - Retirement Planning

### Monte Carlo Simulation

In [ ]:
# Set start and end dates of five years back from today.
# Sample results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2016-05-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2021-05-01', tz='America/New_York').isoformat()

In [ ]:
# Get 5 years' worth of historical data for SPY and AGG
# (use a limit=1000 parameter to call the most recent 1000 days of data)
# YOUR CODE HERE!

# Display sample data
df_stock_data.head()

In [ ]:
# Configuring a Monte Carlo simulation to forecast 30 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Printing the simulation input data
# YOUR CODE HERE!

In [ ]:
# Running a Monte Carlo simulation to forecast 30 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

### Retirement Analysis

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
# YOUR CODE HERE!

### Calculate the expected portfolio return at the `95%` lower and upper confidence intervals based on a `$20,000` initial investment.

In [ ]:
# Set initial investment
initial_investment = 20000

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $20,000
# YOUR CODE HERE!

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 30 years will end within in the range of"
      f" ${ci_lower} and ${ci_upper}")

### Calculate the expected portfolio return at the `95%` lower and upper confidence intervals based on a `50%` increase in the initial investment.

In [ ]:
# Set initial investment
initial_investment = 20000 * 1.5

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $30,000
# YOUR CODE HERE!

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 30 years will end within in the range of"
      f" ${ci_lower} and ${ci_upper}")

## Optional Challenge - Early Retirement


### Five Years Retirement Option

In [ ]:
# Configuring a Monte Carlo simulation to forecast 5 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Running a Monte Carlo simulation to forecast 5 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
# YOUR CODE HERE!

In [ ]:
# Set initial investment
# YOUR CODE HERE!

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $60,000
# YOUR CODE HERE!

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 5 years will end within in the range of"
      f" ${ci_lower_five} and ${ci_upper_five}")

### Ten Years Retirement Option

In [ ]:
# Configuring a Monte Carlo simulation to forecast 10 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Running a Monte Carlo simulation to forecast 10 years cumulative returns
# YOUR CODE HERE!

In [ ]:
# Plot simulation outcomes
# YOUR CODE HERE!

In [ ]:
# Plot probability distribution and confidence intervals
# YOUR CODE HERE!

In [ ]:
# Fetch summary statistics from the Monte Carlo simulation results
# YOUR CODE HERE!

# Print summary statistics
# YOUR CODE HERE!

In [ ]:
# Set initial investment
# YOUR CODE HERE!

# Use the lower and upper `95%` confidence intervals to calculate the range of the possible outcomes of our $60,000
# YOUR CODE HERE!

# Print results
print(f"There is a 95% chance that an initial investment of ${initial_investment} in the portfolio"
      f" over the next 10 years will end within in the range of"
      f" ${ci_lower_ten} and ${ci_upper_ten}")